In [15]:
import os
import pandas as pd

path = "/Users/alicealbrecht/wynton_data/PSG_Pipeline_Outputs/mastersheets/hsp_bidmc_mastersheet.csv"
df = pd.read_csv(path)
df

,sub_id,dataset,site,session,start_time,sfreq_global,duration_samples,duration_sec,edf_path,annot_path,h5_path,events_path,extracted_features_path,sleep_stage_path
0,I0002150000024,hsp_bidmc,bidmc,1,2018-04-27 20:53:05+00:00,200.0,6501400,32507.0,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...
1,I0002150000029,hsp_bidmc,bidmc,1,2017-11-25 01:04:23+00:00,200.0,4628400,23142.0,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...
2,I0002150000076,hsp_bidmc,bidmc,1,2018-09-16 21:30:55+00:00,200.0,6157000,30785.0,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...
3,I0002150000095,hsp_bidmc,bidmc,1,2018-01-02 21:06:34+00:00,500.0,15345000,30690.0,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...
4,I0002150000096,hsp_bidmc,bidmc,1,2021-10-05 21:52:09+00:00,200.0,5826800,29134.0,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15025,I0002151759690,hsp_bidmc,bidmc,1,2024-04-20 22:47:02+00:00,200.0,4668000,23340.0,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...
15026,I0002151760294,hsp_bidmc,bidmc,1,2024-03-01 21:51:40+00:00,200.0,5690400,28452.0,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...
15027,I0002151760294,hsp_bidmc,bidmc,2,2024-08-08 21:06:37+00:00,200.0,6143200,30716.0,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...
15028,I0002151760511,hsp_bidmc,bidmc,1,2024-04-16 22:36:11+00:00,200.0,5353800,26769.0,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...
15029,I0002151760513,hsp_bidmc,bidmc,1,2025-04-12 21:48:16+00:00,200.0,5598400,27992.0,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...

In [16]:
df[df.isna().any(axis=1)]

,sub_id,dataset,site,session,start_time,sfreq_global,duration_samples,duration_sec,edf_path,annot_path,h5_path,events_path,extracted_features_path,sleep_stage_path
627,I0002150009245,hsp_bidmc,bidmc,3,2018-02-16 22:21:20+00:00,200.0,10000,50.0,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,NaN,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...
3953,I0002150029691,hsp_bidmc,bidmc,1,2019-02-02 21:52:14+00:00,200.0,10800,54.0,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,NaN,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...
12984,I0002150742649,hsp_bidmc,bidmc,1,2024-01-29 23:23:23+00:00,200.0,5086800,25434.0,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,NaN,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...

In [17]:
df[df['sub_id']=='I0002150009245']

,sub_id,dataset,site,session,start_time,sfreq_global,duration_samples,duration_sec,edf_path,annot_path,h5_path,events_path,extracted_features_path,sleep_stage_path
624,I0002150009245,hsp_bidmc,bidmc,1,2022-03-19 21:55:57+00:00,200.0,5463800,27319.0,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...
625,I0002150009245,hsp_bidmc,bidmc,4,2022-08-01 21:51:12+00:00,200.0,5754000,28770.0,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...
626,I0002150009245,hsp_bidmc,bidmc,2,2018-02-16 21:37:08+00:00,500.0,16383000,32766.0,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...
627,I0002150009245,hsp_bidmc,bidmc,3,2018-02-16 22:21:20+00:00,200.0,10000,50.0,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...,NaN,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/PSG_Pipeline_Output...,/wynton/group/andrews/data/HSP/PSG/bids/BIDMC/...

In [8]:
import os
import pandas as pd
import math

# === CONFIG ===
results_path = "/Users/alicealbrecht/wynton_data/PSG_Pipeline_Outputs/extracted_features/mros_ses-1/run_20251003/combined_wide_all.csv"

df = pd.read_csv(results_path)
df_subs = set(df["sub_id"].tolist())
len(df_subs)

2910

In [14]:
print(df.columns.tolist())

['sub_id', 'mean_nni@WN', 'sdnn@WN', 'sdsd@WN', 'nni_50@WN', 'pnni_50@WN', 'nni_20@WN', 'pnni_20@WN', 'rmssd@WN', 'median_nni@WN', 'range_nni@WN', 'cvsd@WN', 'cvnni@WN', 'mean_hr@WN', 'max_hr@WN', 'min_hr@WN', 'std_hr@WN', 'lf@WN', 'hf@WN', 'lf_hf_ratio@WN', 'lfnu@WN', 'hfnu@WN', 'total_power@WN', 'vlf@WN', 'sd1@WN', 'sd2@WN', 'ratio_sd2_sd1@WN', 'sampen@WN', 'mean_nni@REM', 'sdnn@REM', 'sdsd@REM', 'nni_50@REM', 'pnni_50@REM', 'nni_20@REM', 'pnni_20@REM', 'rmssd@REM', 'median_nni@REM', 'range_nni@REM', 'cvsd@REM', 'cvnni@REM', 'mean_hr@REM', 'max_hr@REM', 'min_hr@REM', 'std_hr@REM', 'lf@REM', 'hf@REM', 'lf_hf_ratio@REM', 'lfnu@REM', 'hfnu@REM', 'total_power@REM', 'vlf@REM', 'sd1@REM', 'sd2@REM', 'ratio_sd2_sd1@REM', 'sampen@REM', 'mean_nni@N2N3', 'sdnn@N2N3', 'sdsd@N2N3', 'nni_50@N2N3', 'pnni_50@N2N3', 'nni_20@N2N3', 'pnni_20@N2N3', 'rmssd@N2N3', 'median_nni@N2N3', 'range_nni@N2N3', 'cvsd@N2N3', 'cvnni@N2N3', 'mean_hr@N2N3', 'max_hr@N2N3', 'min_hr@N2N3', 'std_hr@N2N3', 'lf@N2N3', 'hf@N2N3', 'lf_hf_ratio@N2N3', 'lfnu@N2N3', 'hfnu@N2N3', 'total_power@N2N3', 'vlf@N2N3', 'sd1@N2N3', 'sd2@N2N3', 'ratio_sd2_sd1@N2N3', 'sampen@N2N3', 'stable%@WN', 'unstable%@WN', 'R+W%@WN', 'log_pwr_HFC@WN', 'log_pwr_LFC@WN', 'log_pwr_VLFC@WN', 'log_pwr_H2L@WN', 'log_pwr_VL2LH@WN', 'stable%@REM', 'unstable%@REM', 'R+W%@REM', 'log_pwr_HFC@REM', 'log_pwr_LFC@REM', 'log_pwr_VLFC@REM', 'log_pwr_H2L@REM', 'log_pwr_VL2LH@REM', 'stable%@N2N3', 'unstable%@N2N3', 'R+W%@N2N3', 'log_pwr_HFC@N2N3', 'log_pwr_LFC@N2N3', 'log_pwr_VLFC@N2N3', 'log_pwr_H2L@N2N3', 'log_pwr_VL2LH@N2N3', 'hrnadir', 'hrnadir_time_hours', 'hrnadir_sleep_stages']

In [15]:
hrv_cols = ['mean_nni@WN', 'sdnn@WN', 'sdsd@WN', 'nni_50@WN', 'pnni_50@WN', 'nni_20@WN', 'pnni_20@WN', 'rmssd@WN', 'median_nni@WN', 'range_nni@WN','cvsd@WN','cvnni@WN', 'mean_hr@WN', 'max_hr@WN', 'min_hr@WN', 'std_hr@WN']
cpc_cols = ['lf@WN', 'hf@WN', 'lf_hf_ratio@WN', 'lfnu@WN', 'hfnu@WN', 'total_power@WN', 'vlf@WN', 'sd1@WN', 'sd2@WN', 'ratio_sd2_sd1@WN', 'sampen@WN']
hrnadir_cols = ["hrnadir", "hrnadir_time_hours", "hrnadir_sleep_stages"]

In [18]:
df[df[hrv_cols].isna().any(axis=1)]

,sub_id,mean_nni@WN,sdnn@WN,sdsd@WN,nni_50@WN,pnni_50@WN,nni_20@WN,pnni_20@WN,rmssd@WN,median_nni@WN,...,unstable%@N2N3,R+W%@N2N3,log_pwr_HFC@N2N3,log_pwr_LFC@N2N3,log_pwr_VLFC@N2N3,log_pwr_H2L@N2N3,log_pwr_VL2LH@N2N3,hrnadir,hrnadir_time_hours,hrnadir_sleep_stages
16,bi0036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.000121,6.278501,REM
19,bi0040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.000164,5.104444,N2
41,bi0080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.000076,4.243443,W
42,bi0084,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.000037,2.246910,N2
58,bi0116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.000018,5.084604,REM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2797,sd8804,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.000264,5.745167,N2
2806,sd8816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.000035,5.831392,N2
2831,sd8866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.000005,5.980588,N3
2863,sd8927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.000089,7.172056,N1
2878,sd8950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.000128,1.134857,W

In [17]:
df[df[hrnadir_cols].isna().any(axis=1)]

,sub_id,mean_nni@WN,sdnn@WN,sdsd@WN,nni_50@WN,pnni_50@WN,nni_20@WN,pnni_20@WN,rmssd@WN,median_nni@WN,...,unstable%@N2N3,R+W%@N2N3,log_pwr_HFC@N2N3,log_pwr_LFC@N2N3,log_pwr_VLFC@N2N3,log_pwr_H2L@N2N3,log_pwr_VL2LH@N2N3,hrnadir,hrnadir_time_hours,hrnadir_sleep_stages
226,bi0422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
514,mn1555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
529,mn1586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
856,mn2231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
887,mn2299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
914,mn2353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
916,mn2359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
917,mn2361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
950,mn2418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
990,mn2498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1137,pa3274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1307,pa3636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1330,pa3676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1371,pa3770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1393,pa3837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1614,pi4765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1669,pi4881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1940,pi5396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2052,po6629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2409,sd8023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2412,sd8027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2479,sd8152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2702,sd8616,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
mastersheet_path = "/Users/alicealbrecht/wynton_data/PSG_Pipeline_Outputs/mastersheets/hsp_bidmc_mastersheet.csv"
mastersheet = pd.read_csv(mastersheet_path)
mastersheet[mastersheet.isna().any(axis=1)]

Empty DataFrame
Columns: [sub_id, dataset, site, session, start_time, sfreq_global, duration_samples, duration_sec, edf_path, annot_path, h5_path, events_path, extracted_features_path, sleep_stage_path]
Index: []

In [ ]:
set(mastersheet_subs) - set(df_subs)

{'po7185'}

In [ ]:
num_batches = math.ceil(total_files / batch_size)
all_files = os.listdir(results_path) 

for i in range(num_batches):
    start = i * batch_size
    end = min(start + batch_size, total_files)
    batch_files = all_files[start:end]
    print(f"[INFO] Processing batch {i+1}/{num_batches} ({len(batch_files)} files)")
    for file in batch_files:
        dfs = [pd.read_csv(f) for f in batch_files]
        combined_df = pd.concat(dfs, axis=0, ignore_index=True)  
        combined_df = combined_df.sort_values(by=sub_id_col).reset_index(drop=True)
        combined_csv_path = results_path / "combined_wide_all.csv"

[INFO] Processing batch 1/20 (300 files)
[INFO] Processing batch 2/20 (300 files)
[INFO] Processing batch 3/20 (300 files)
[INFO] Processing batch 4/20 (300 files)
[INFO] Processing batch 5/20 (300 files)
[INFO] Processing batch 6/20 (300 files)
[INFO] Processing batch 7/20 (300 files)
[INFO] Processing batch 8/20 (300 files)
[INFO] Processing batch 9/20 (300 files)
[INFO] Processing batch 10/20 (300 files)
[INFO] Processing batch 11/20 (300 files)
[INFO] Processing batch 12/20 (300 files)
[INFO] Processing batch 13/20 (300 files)
[INFO] Processing batch 14/20 (300 files)
[INFO] Processing batch 15/20 (300 files)
[INFO] Processing batch 16/20 (300 files)
[INFO] Processing batch 17/20 (300 files)
[INFO] Processing batch 18/20 (300 files)
[INFO] Processing batch 19/20 (300 files)
[INFO] Processing batch 20/20 (123 files)

## Compare my results with Haoqi results from drop box for few subjects

## HRV and CPC

In [1]:
from pathlib import Path
import pandas as pd

my_results_path = Path("/Users/alicealbrecht/Desktop/PSG_Pipeline_Outputs/extracted_features/mros_ses-1/run_20250919")
box_results = Path("/Users/alicealbrecht/Desktop/UCSF/pipeline_project/additional_data/box_results/")

stage_types = ["WN", "REM", "N2N3"]
all_df = []
for stage in stage_types:
    # Find file in my_results containing stage_type
    my_file = next(my_results_path.glob(f"*{stage}*.csv"), None)
    box_file = next(box_results.glob(f"*{stage}*.csv"), None)
    
    if my_file is None or box_file is None:
        print(f"[WARNING] No file found for stage {stage}, skipping...")
        continue
    
    # Read CSVs
    df_my = pd.read_csv(my_file)
    df_box = pd.read_csv(box_file)
    
    # Truncate box file to match number of rows of my results
    n_rows = len(df_my)
    df_box_trunc = df_box.iloc[:n_rows].copy()

    # Match cols
    new_cols = []
    for col in df_my.columns:
        if col != 'sub_id' and col.endswith(f"@{stage}"):
            new_cols.append(col.replace(f"@{stage}", ""))
        else:
            new_cols.append(col)
    df_my.columns = new_cols
    if 'sub_id' in df_my.columns:
        df_my = df_my.rename(columns={'sub_id': 'SID'})
    
    # Compute difference on common columns
    common_cols = df_my.columns.intersection(df_box_trunc.columns)
    cols_to_convert = [c for c in common_cols if c != "SID"]
    df_my[cols_to_convert] = df_my[cols_to_convert].astype(float)
    df_box_trunc[cols_to_convert] = df_box_trunc[cols_to_convert].astype(float)

    df_diff = df_my[cols_to_convert] - df_box_trunc[cols_to_convert]
    
    # Keep SID
    if 'SID' in df_my.columns:
        df_diff['SID'] = df_my['SID']
    
    all_df.append(df_diff)

In [ ]:
df = all_df[0].iloc[:,:-1]
df = df.loc[:, (df > 20).any(axis=0)]
df.loc[(df > 20).any(axis=1)]

,mean_nni,nni_50,nni_20,pnni_20,median_nni,range_nni,lf,hf,lfnu,hfnu,total_power,vlf,unstable%,R+W%
0,1.363091,1.837826,2.175202,0.733486,1.735087,-33.347021,83.846132,-125.469924,5.232685,-5.232685,-333.967967,-292.344174,36.298293,48.292902
1,-3.433623,13.350411,62.718533,14.728973,-3.270650,-5.947086,4.585105,26.115370,-14.240400,14.240400,34.750711,4.050235,32.352941,45.098039
2,12.218403,4.538521,-18.718931,-5.514291,9.968650,-42.643607,-3.095777,-14.138732,4.096809,-4.096809,-130.373078,-113.138568,33.526907,45.102594
3,0.100386,0.115819,1.856739,0.480548,0.286506,-3.135404,-0.887539,0.239293,-0.616544,0.616544,-3.306125,-2.657879,32.988838,57.172385
4,2.052429,-0.527138,-1.297491,-0.417528,1.562100,-32.361071,-13.530965,-29.118241,2.776675,-2.776675,-122.744954,-80.095749,32.995056,64.194640
5,17.065271,3.346109,4.942315,2.324495,15.588705,-55.677295,-41.341103,-22.590409,-0.109210,0.109210,-256.991840,-193.060327,15.602013,24.003097
6,1.506727,-29.496795,-14.746154,-3.022942,10.605719,-104.382011,955.686341,-2443.212187,21.087985,-21.087985,-1199.814270,287.711576,8.896321,37.257525
7,8.100347,0.097202,2.803461,1.126477,5.433373,-142.494777,-13.876986,-341.961534,11.998343,-11.998343,-559.226274,-203.387754,16.595543,15.362731
8,0.219375,-0.085714,-2.923810,-1.486905,0.897507,18.024554,7.341334,5.434908,3.094500,-3.094500,30.205378,17.429135,41.428571,60.000000
9,-19.826787,-18.100000,-10.200000,-5.319129,-26.464844,-358.398438,-217.627239,-1218.941938,21.561870,-21.561870,-1590.215351,-153.646175,10.000000,20.000000
10,3.021642,-0.155466,-1.810324,-0.577169,1.917542,-33.382623,-45.369318,-8.509223,-0.090900,0.090900,-162.579588,-108.701047,31.787803,38.721805
11,14.122081,5.962522,14.381393,4.624735,13.769617,-28.126981,18.221843,1.582962,0.525044,-0.525044,-28.738936,-48.543741,27.755732,38.624339

In [ ]:
df = all_df[1].iloc[:,:-1]
df = df.loc[:, (df > 20).any(axis=0)]
df.loc[(df > 20).any(axis=1)]

,mean_nni,sdnn,nni_50,median_nni,range_nni,lf,lfnu,total_power,vlf,sd2,unstable%,R+W%
0,0.801566,-0.902470,10.250000,0.976562,-58.593750,54.101717,7.632757,-137.815995,-42.417395,-0.174867,75.000000,75.000000
2,0.784882,-1.669193,6.850000,1.367188,-25.390625,7.680634,11.647662,-4.153876,-1.122585,-0.417640,75.000000,100.000000
4,-1.636665,1.398655,0.475000,-1.000977,-9.472656,19.248054,4.920244,92.270646,96.313885,2.822535,100.000000,100.000000
5,29.267471,16.472552,-7.000000,38.085938,50.781250,387.671886,6.976609,1305.503926,921.467076,24.494764,-50.000000,50.000000
6,-7.321429,-17.092594,-18.000000,0.000000,-220.703125,198.250237,9.917237,-435.777707,187.171222,-0.346242,100.000000,100.000000
7,-48.016519,-2.021155,-43.500000,-41.601562,-52.539062,145.321470,26.251473,3.433221,228.061522,4.676894,70.000000,90.000000
8,-7.521512,-3.031480,-5.142857,-7.282366,-19.698661,-8.960563,0.910505,-52.589218,-22.002763,-3.813055,85.714286,85.714286
10,0.159942,-0.436882,0.055556,0.162760,-16.493056,-3.640509,2.076774,-13.356151,5.565131,-0.040771,76.797386,55.228758
11,-4.350418,-1.608371,-0.856061,-4.734848,-34.090909,-13.692713,0.977493,-66.281223,-33.799347,-1.814640,100.000000,75.000000

In [ ]:
df = all_df[2].iloc[:,:-1]
df = df.loc[:, (df > 20).any(axis=0)]
df.loc[(df > 20).any(axis=1)]

,mean_nni,nni_50,nni_20,pnni_20,median_nni,range_nni,lf,hf,lfnu,hfnu,total_power,vlf,sd2,unstable%,R+W%
0,-13.355414,6.770283,13.298143,4.437494,-13.081928,1.097798,239.979974,-109.895639,4.988546,-4.988546,436.602967,306.518632,10.282435,84.261975,81.231672
1,1.534807,13.397849,62.855197,14.761435,1.659806,6.931844,7.985983,26.734267,-14.960495,14.960495,40.746304,6.026054,2.410378,62.222222,83.333333
2,17.634976,4.897696,-13.770507,-3.619338,15.537694,-43.418779,-7.471583,-17.400453,2.248048,-2.248048,-219.036739,-194.164703,-8.163410,82.488479,77.142857
3,-0.022556,-0.100000,0.338095,0.085700,0.035652,-5.152530,-0.312948,-0.193842,-0.104594,0.104594,-1.361998,-0.855208,-0.084228,85.582656,83.577236
4,0.144808,-0.511628,-0.627907,-0.250672,0.113554,-29.251453,-0.497129,-27.022019,2.626690,-2.626690,-26.080190,1.438958,-0.092243,81.063123,81.284607
5,6.000858,0.378755,-7.041026,-2.117511,5.578211,-57.454785,8.016419,-54.837607,7.981966,-7.981966,-51.163078,-4.341891,-1.517308,68.571429,69.157509
6,-13.668174,-29.177033,-12.827751,-4.003601,-4.100161,-101.011139,914.930983,-2973.041847,22.432303,-22.432303,-1573.031006,485.079858,4.422059,79.797980,81.818182
7,11.425704,4.387142,5.706290,2.313670,9.242563,-146.181740,51.027466,-363.121624,12.239847,-12.239847,-303.664892,8.429267,1.087032,82.608696,80.573543
8,4.179802,1.437500,5.645833,2.801193,5.493164,40.893555,5.917953,19.521246,-4.135373,4.135373,56.230313,30.791115,2.890564,81.250000,75.000000
9,-12.556821,-14.977778,-9.088889,-4.411771,-18.901910,-336.979167,-325.529132,-1175.554149,18.671054,-18.671054,-1709.866447,-208.783166,-14.349982,46.666667,46.666667
10,-0.007861,0.204545,0.590909,0.199701,0.022195,-7.812500,-0.552587,-3.181778,0.857762,-0.857762,-4.496250,-0.761885,-0.073356,88.372093,93.023256
11,-0.205048,0.936210,0.466542,0.120457,-0.248568,-2.707991,-0.741974,0.897567,0.034614,-0.034614,15.116516,14.960923,0.170087,72.045028,82.426517

## HR Nadir

In [5]:
from pathlib import Path
import pandas as pd

# Paths
my_results_path = Path("/Users/alicealbrecht/Desktop/PSG_Pipeline_Outputs/extracted_features/mros_ses-1/run_20250919")
box_results = Path("/Users/alicealbrecht/Desktop/UCSF/pipeline_project/additional_data/box_results/")

# My results
my_hrnadir = pd.read_csv(my_results_path / "combined_wide_all.csv", usecols=[
    "sub_id", "hrnadir", "hrnadir_time_hours", "hrnadir_sleep_stages"
])
my_hrnadir["hrnadir_sleep_stages"] = my_hrnadir["hrnadir_sleep_stages"].str.replace("REM", "R")

# Box reuslts (Haoqi)
box_hrnadir = pd.read_csv(box_results / "hr_nadir_MrOS.csv")
n_rows = len(df_my)
box_hrnadir_trunc = box_hrnadir.iloc[:n_rows].copy()

# Merge tables
box_hrnadir_trunc = box_hrnadir_trunc.rename(columns={"SID": "sub_id"})
merged = my_hrnadir.merge(
    box_hrnadir_trunc,
    on="sub_id",
    how="left"
)

# Compute differences and stage comparison
merged["hrnadir_diff"] = merged["hrnadir"] - merged["HRNadir"]
merged["hrnadir_time_hours_diff"] = merged["hrnadir_time_hours"] - merged["HRNadirHoursSinceSleepOnset"]
merged["stage_match"] = merged["hrnadir_sleep_stages"] == merged["HRNadirStage"]

final_df = merged[[
    "sub_id",
    "hrnadir",
    "HRNadir",
    "hrnadir_diff",
    "hrnadir_time_hours",
    "HRNadirHoursSinceSleepOnset",
    "hrnadir_time_hours_diff",
    "hrnadir_sleep_stages",
    "HRNadirStage",
    "stage_match"
]]

final_df

,sub_id,hrnadir,HRNadir,hrnadir_diff,hrnadir_time_hours,HRNadirHoursSinceSleepOnset,hrnadir_time_hours_diff,hrnadir_sleep_stages,HRNadirStage,stage_match
0,bi0001,43.503784,43.558415,-0.054632,4.600685,4.600682,2.712674e-06,N1,N1,True
1,bi0002,45.729097,65.808428,-20.079331,3.149542,5.184376,-2.034834e+00,N2,N2,True
2,bi0003,34.607253,59.883041,-25.275788,2.710141,1.744028,9.661133e-01,N2,N2,True
3,bi0004,74.567722,74.559921,0.007802,4.789603,4.789636,-3.309462e-05,N2,N2,True
4,bi0007,37.419101,46.183188,-8.764087,5.332376,3.334437,1.997939e+00,W,N2,False
5,bi0008,49.735072,49.783999,-0.048927,5.725689,5.725681,8.138021e-06,N1,N1,True
6,bi0010,27.961026,48.909080,-20.948054,2.322033,5.364842,-3.042809e+00,W,N2,False
7,bi0013,48.690694,48.681812,0.008882,5.489935,5.489935,-5.425347e-07,R,R,True
8,bi0014,29.195732,38.436970,-9.241237,0.495689,6.780386,-6.284697e+00,N2,N2,True
9,bi0015,46.460866,46.897523,-0.436657,5.249248,0.103817,5.145431e+00,W,N2,False
10,bi0018,50.990121,51.675849,-0.685727,4.729038,6.630005,-1.900967e+00,W,W,True
11,bi0023,35.483373,57.184738,-21.701365,6.283096,8.516602,-2.233505e+00,W,W,True

- I found HRnadir values smaller than box results. Note that I used a treshold of 20 (max RR interval of 3seconds) while previous code where using a threshold of 30 (max RR interval of 2seconds). This explain why I have smaller values.
- Thsi will impact the other